<a href="https://colab.research.google.com/github/MINJUHEE02/-/blob/%EA%B8%B0%EC%B4%88%ED%8C%8C%EC%9D%B4%EC%8D%AC/P6%2B7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(2, 101):
  if i%2==0 :                    #x%2의 결과가 0이면 x는 짝수
    print(i, end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [2]:
year = 0
balance = 1000

while balance <= 2000:
  year = year + 1
  interest = balance * 0.07
  balance = balance + interest
print(year, "년이 걸립니다.")

11 년이 걸립니다.

In [4]:
n = 1234
sum = 0
while n > 0 :
  digit = n % 10
  sum = sum + digit
  n = n // 10
print(sum)

10

In [6]:
ans = 0
while ans != 3*9:               #while 루프는 어떤 조건이 만족될 때까지 반복하는 것이다.
  ans = int(input("3*9는"))
print("맞았습니다.")

3*9는27
맞았습니다.

In [7]:
sum = 0
while True:
  x = int(input("정수를 입력하시오: "))
  if x == 0:
    break;              #사용자가 입력한시값이 0이면 break문장을 실행하여 무한 루프를 빠져나간다.
  sum = sum + x

print("합은", sum, "입니다.")

정수를 입력하시오: 65
정수를 입력하시오: 5
정수를 입력하시오: 8
정수를 입력하시오: 0
합은 78 입니다.

In [8]:
from random import randint

for i in range(3) :
  d1 = randint(1, 6)
  d2 = randint(1, 6)
  print("첫번째 주사위=", d1, "두번째 주사위=", d2)

첫번째 주사위= 2 두번째 주사위= 5
첫번째 주사위= 4 두번째 주사위= 4
첫번째 주사위= 1 두번째 주사위= 2

In [11]:
def happybirthday(person):
  print("happy birthday to you!")
  print("happy birthday to you!")
  print("happy birthday, dear " + person)
  print("happy birthday tto you!")

happybirthday("민주희")

happy birthday to you!
happy birthday to you!
happy birthday, dear 민주희
happy birthday tto you!

In [15]:
def sumProblem(x, y):
  sum = x + y
  sentence = "정수" + str(x) + "+"+str(y)+"의 합은?"
  print(sentence)

def main():
  a = int(input("첫 번째 정수: "))
  b = int(input("두 번째 정수: "))
  sumProblem(a, b)

main()

첫 번째 정수: 7
두 번째 정수: 4
정수7+4의 합은?

In [28]:
PI = 3.14159265358979

def circleArea(radius):
   return PI*radius*radius

def circleCircumference(radius):
   return 2*PI*radius

def main():
  print("반의름이 5인 원의 면적: ", circleArea(5))
  print("반지름이 5인 원의 둘레: ", circleCircumference(5))

main()

반의름이 5인 원의 면적:  78.53981633974475
반지름이 5인 원의 둘레:  31.4159265358979

In [29]:
def add(a, b):
  print( "(%d + %d)" % (a, b), end=" ")
  return a+b

def subtract(a, b):
  print("(%d - %d)" % (a, b), end=" ")
  return a - b

def multiply(a, b):
  print("(%d * %d)" % (a, b), end=" ")
  return a * b

def divide(a, b):
  print("(%d / %d)" % (a, b), end=" ")
  return a / b

what = add(20, 10)
print("=", what)

(20 + 10) = 30